<ul>
{% for comment in review.comment_set.all %}
  <li>
    <a href="{% url 'accounts:profile' comment.user.username %}">
      {{ comment.user }}
    </a>: {{ comment.content }}
    
    {% comment %} {% if request.user == comment.user %}
    <form style="display: inline-block;" action="{% url 'community:delete_comment' review.pk comment.pk %}" method="POST">
      {% csrf_token %}
      <button>[X]</button>
    </form>
    {% endif %} {% endcomment %}

  </li>
{% empty %}
  <li>No comments... YET</li>
{% endfor %}
</ul>