{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>DETAIL</h1>
  <hr>
  <h3>{{ article.pk }} 번째 글</h3>
  <h3>제목 : {{ article.title }}</h3>
  <p>내용 : {{ article.content }}</p>
  {% if article.image %}
    <img src="{{ article.image.url }}" alt="{{ article.image }}">
    <p>{{ article.image.url }}</p>
  {% else %}
    <img src="{% static 'articles/cat.png' %}" alt="cat">
  {% endif %}

  {% if article.image_thumb %}
    <img src="{{ article.image_thumb.url }}" alt="{{ article.image_thumb }}">
    <p>{{ article.image_thumb.url }}</p>
  {% else %}
    <img src="{% static 'articles/cat.png' %}" alt="cat">
  {% endif %}
  <hr>
  <p>작성시각 : {{ article.created_at }}</p>
  <p>수정시각 : {{ article.updated_at }}</p>
  <hr>
  <a href="{% url 'articles:update' article.pk %}">[UPDATE]</a>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <button>DELETE</button>
  </form>
  <a href="{% url 'articles:index' %}">[back]</a>
{% endblock content %}
